psutil==5.9.2
aiohttp==3.7.4.post0
async-timeout==3.0.0
attrs==17.3.0
chardet==4.0.0
multidict==5.2.0
typing-extensions==4.0.1
yarl==1.8.1
colorama==0.4.4
discord==1.7.3
discord.py==1.7.3
pypresence==4.2.1
idna==3.3